[Desktop Entry]
Name=Sistema Hue
Comment=Controlador de luces Philips Hue para Linux
Exec=sistema-hue
Icon=io.github.mgatto98.SistemaHue
Terminal=false
Type=Application
Categories=Utility;
Keywords=hue;philips;luces;lights;smart;home;
