[Desktop Entry]
Name=Pupu
Comment=Controlador de luces del sistema Philips Hue para Linux
Exec=pupu
Icon=io.github.mgatto98.SistemaHue
Terminal=false
Type=Application
Categories=Utility;
Keywords=luces;lights;smart;home;
